        <p class="invisible"><a id="{{ .Params.slug }}"></a></p>
        <table class="table table-sm table-bordered">
          <thead>
            <tr class="table-secondary">
              <th colspan="2">
                {{ $linkIcon := resources.Get "icons/link-45deg.svg" | resources.Fingerprint }}
                <span class=""><a href="#{{ .Params.slug }}"><img src="{{ $linkIcon.Permalink }}"></a>&nbsp;{{ .Params.title | markdownify }}</span>
                {{- with .Params.required -}}
                <div class="badge-required">
                  <span class="badge align-middle">Required</span>
                </div>
                {{- end -}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-2 field-name">Label</td>
              <td>{{ .Name | markdownify }}</td>
            </tr>
            <tr>
              <td class="col-2 field-name">Module</td>
              <td>{{ .Params.module | markdownify }}</td>
            </tr>
            {{ with .Params.description }}
            <tr>
              <td class="col-2 field-name">Definition</td>
              <td>{{ . | markdownify }}</td>
            </tr>
            {{ end }}
            {{ with .Params.comment }}
            <tr>
              <td class="col-2 field-name">Comment</td>
              <td>{{ . | markdownify }}</td>
            </tr>
            {{ end }}
            {{ with .Params.field }}
            <tr>
              <td class="col-2 field-name">Suggested element</td>
              <td><code>{{ . }}</code></td>
            </tr>
            {{ end }}
            {{ with .Params.policy }}
            <tr>
              <td class="col-2 field-name">Policy</td>
              <td>{{ . }}</td>
            </tr>
            {{ end }}
            {{ if .Params.vocabulary }}
            {{   with .Resources.GetMatch .Params.vocabulary }}
            <tr>
              <td class="col-2 field-name">Vocabulary</td>
              <td><a href="{{ .RelPermalink }}">{{ .Name }}</a></td>
            </tr>
            {{   end }}
            {{ end }}
          </tbody>
        </table>
